<div class="block-form">
    <h2>Upload New Mod</h2>
    <hr/>

  <% if @mod.errors.full_messages.any? %>
      <% @mod.errors.delete(:mod_file) %>
      <% @mod.errors.delete(:image) %>
      <div class="alert alert-danger alert-block">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <h4><%= @mod.errors.full_messages.count %> errors prevented this form from being registered:</h4>
        <ul>
          <% @mod.errors.full_messages.each do |error_message| %>
              <li><h5><%= error_message %></h5></li>
          <% end %>
        </ul>
      </div>
  <% end %>

    <div class="well">
      <%= form_for @mod, html: { class: 'form-horizontal '} do |f| %>
          <fieldset>
            <legend>Details</legend>
            <div class="form-group">
              <div class="col-lg-12">
                <%= f.text_field :name, class: 'form-control input-lg', placeholder: 'Name' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-12">
                <%= f.text_field :description_short, class: 'form-control input-lg', placeholder: 'Short Description' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-12">
                <%= f.text_area :description, class: 'form-control input-lg', placeholder: 'Description' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-12">
                <%= f.select :version, ['0.21.0', '0', '0'], { prompt: 'KSP Version' }, { class: 'form-control input-lg' }%>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <legend>Mod</legend>
            <div class="form-group">
              <div class="col-lg-12">
                <%= f.file_field :mod, class: 'form-control input-lg' %>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <legend>Images</legend>
            <div class="form-group">
              <label class="col-lg-2 control-label">Thumbnail (320x150)</label>
              <div class="col-lg-10">
                <%= f.file_field :thumbnail, class: 'form-control input-lg' %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">Banner (800x300)</label>
              <div class="col-lg-10">
                <%= f.file_field :banner, class: 'form-control input-lg' %>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <legend>Social</legend>
            <div class="form-group">
              <div class="col-lg-12">
                <%= f.text_field :tag_list, class: 'form-control input-lg', id: 'mod-tags', placeholder: 'Tags' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-12">
                <%= f.text_field :youtube_url, class: 'form-control input-lg', placeholder: 'YouTube Video Link' %>
              </div>
            </div>

          </fieldset>

          <fieldset>
            <div class="form-group">
              <div class="col-lg-12">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Upload Mod</button>
              </div>
            </div>
          </fieldset>
        <% end %>
    </div>
</div>