<div class="row">

  <div class="col-md-3">
    <p class="lead">Mods</p>
    <div class="list-group">
      <a href="#" class="list-group-item">Category #1</a>
      <a href="#" class="list-group-item">Category #2</a>
      <a href="#" class="list-group-item">Category #3</a>
    </div>
  </div>

  <div class="col-md-9">

    <div class="row">
      <% if @mods.empty? %>
          <h2><i>No mods uploaded.</i></h2>
      <% end %>
      <% @mods.each do |mod| %>
          <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
              <img src="http://placehold.it/320x150" alt="">
              <div class="caption">
                <h4 class="game-version pull-right"><%= mod.version %></h4>
                <h4><%= link_to mod.name, mod %></a>
                </h4>
                <p><%= mod.description_short %></p>
              </div>
              <div class="ratings">
                <p class="pull-right"><%= mod.download_count %> downloads</p>
                <p>
                  <%= fa_icon 'star' %>
                  <%= fa_icon 'star' %>
                  <%= fa_icon 'star' %>
                  <%= fa_icon 'star' %>
                  <%= fa_icon 'star' %>
                </p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>