<div class="row">

  <div class="col-md-3">
    <div class="btn-group btn-group-justified">
      <%= link_to 'Download', download_mod_path, class: 'btn btn-primary btn-lg' %>
      <%= link_to 'Subscribe', subscribe_mod_path, class: 'btn btn-success btn-lg' %>
    </div>

    <br />

    <div align="center"><i><%= link_to 'Whats the difference?', faq_pages_path %></i></div>
  </div>

  <div class="col-md-9">

    <div class="thumbnail">
      <%= image_tag @mod.image.url %>
      <div class="caption-full">
        <h4 class="pull-right">Version <%= @mod.version %></h4>
        <h4><a href="#"><%= @mod.name %></a></h4>
        <%= @mod.description %>
      </div>
      <div class="ratings">
        <p class="pull-right"><%= @mod.download_count %> downloads</p>
        <p>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          4.0 stars
        </p>
      </div>
    </div>

    <div class="well">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          var disqus_shortname = 'kerbalmods';

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
    </div>
  </div>
</div>
