<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= Settings.general.site_title %></a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= cp(root_path) %>"><%= link_to 'Home', root_path %></li>
        <li class="<%= cp('') %>"><%= link_to 'Mods', mods_path %></li>
        <li class="<%= cp('') %>"><%= link_to 'Crafts', '' %></li>
        <li class="<%= cp('') %>"><%= link_to 'Parts', '' %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if !account_signed_in? %>
          <li class="<%= cp('new_account_registration_path') %>"><%= link_to 'Sign Up', new_account_registration_path %></li>
          <li class="<%= cp('new_account_session_path') %>"><%= link_to 'Sign In', new_account_session_path %></li>
        <% else %>
          <li><%= link_to 'Sign Out', destroy_account_session_path, method: :delete %></li>
        <% end %>
      </ul>

      <form class="navbar-form navbar-right" style="margin-right: 2px;">
        <input type="text" class="form-control col-lg-8" placeholder="Search">
      </form>
    </div>
  </div>
</div>