<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= Settings.general.site_title %></a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= cp(root_path) %>"><%= link_to 'Home', root_path %></li>
        <li class="<%= cp(mods_path) %>"><%= link_to 'Mods', mods_path %></li>
        <li class="<%= cp('') %>"><%= link_to 'Crafts', '' %></li>
        <li class="<%= cp('') %>"><%= link_to 'Parts', '' %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <%= render partial: 'header_search' %>
        <%= render partial: 'header_authentication' %>
      </ul>

    </div>
  </div>
</div>