<!DOCTYPE html>
<html>
	<head>
		<title><%= site_title(yield :title)  %></title>
		
		<%= render partial: 'styles' %>
		<%= render partial: 'metadata' %>
	</head>

	<body>
		<div class="wrap">
			<%= render partial: 'header' %>

			<div id="main-container" class="container">
				<%= render partial: 'flash' %>
				<%= yield %>
			</div> 
			<div id="push"></div>
		</div>

		<%= render partial: 'footer' %>
		<%= render partial: 'scripts' %>
	</body>
</html>
