<h2></h2>

<% if !account.mods.empty? %>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
        <tr>
          <th>Name</th>
          <th>Downloads</th>
          <th>Likes</th>
        </tr>
    </thead>
    <tbody id="items">
        <% account.mods.each do |mod| %>
            <tr>
              <td><%= link_to mod.name, mod %></td>
              <td><%= mod.download_count %></td>
              <td><%= mod.vote_tally %></td>
              <% if account == mod.account %>
                  <td>
                    <%= link_to 'Edit', edit_mod_path, class: 'btn btn-sm btn-warning' %>
                    <%= link_to 'Delete', mod, class: 'btn btn-sm btn-danger', method: :delete %>
                  </td>
              <% end %>
            </tr>
        <% end %>
    </tbody>
  </table>
</div>
<% else %>
<h2><i>You do not have any mods.</i></h2>
<% end %>