<div class="container">
  <div class="row">
    <div class="col-sm-10"><h1><%= @user.username %></h1></div>
    <div class="col-sm-2">
    <span class="pull-right">
      <img title="profile image" class="img-circle img-responsive" src="<%= @user.gravatar_url %>">
    </span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">

      <ul class="list-group">
        <li class="list-group-item text-muted">Profile</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Name</strong></span> <%= @user.full_name %></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Country</strong></span> <%= @user.country %></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Last seen</strong></span> <%= nice_date @user.last_sign_in_at %></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span> <%= nice_date @user.created_at %></li>

      </ul>

      <ul class="list-group">
        <li class="list-group-item text-muted">Activity</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Mods</strong></span> <%= @user.mods.count %></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> <%= @user.find_liked_items.count %></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Dislikes</strong></span> <%= @user.find_disliked_items.count %></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Subscribed</strong></span> 0</li>
      </ul>

      <div class="panel panel-default">
        <div class="panel-heading">Social Media</div>
        <div class="panel-body">
          <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i>
          <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
        </div>
      </div>

    </div>
    <div class="col-sm-9">

      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
        <li><a href="#mods" data-toggle="tab">Mods</a></li>
        <li><a href="#messages" data-toggle="tab">Messages</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="home">
            <h1>Welcome Home</h1>
        </div>

        <div class="tab-pane" id="mods">
          <h1>Welcome Mods</h1>
        </div>

        <div class="tab-pane" id="messages">
            <%= render partial: 'messages', locals: { account: @user } %>
        </div>

      </div>
    </div>
  </div>
</div>
