<h1><%= @user.first_name + ' ' + @user.last_name %></h1>

<p>In this view, we're going to show all the mods that this user has uploaded. We're also going to allow messaging and such.</p>

<ul>
	<li>Username: <%= @user.username %></li>
	<li>First Name: <%= @user.first_name %></li>
	<li>Last Name: <%= @user.last_name %></li>
	<li>Country: <%= @user.country %></li>
</ul>